.Board__Container {
    .Board__BetSignContainer {
        display: flex;
        align-items: center;

        &:nth-child(1) {
            justify-content: flex-end;
        }

        .Board__BetSign {
            display: flex;
            color: $colorGrey;
            font-size: 128px;
        }
    }

    .Board__Row {
        padding-bottom: 16px;

        div.md-layout-item {
            display: flex;

            &:nth-child(1) {
                justify-content: flex-end;
            }

            &:nth-child(2) {
                justify-content: center;
            }
        }

        &Level {
            &--6 {
                .Board__Figure {
                    border: 8px $colorGrey solid;
                }
            }

            &--5 {
                .Board__Figure {
                    border: 7px $colorGrey solid;
                }
            }

            &--4 {
                .Board__Figure {
                    border: 6px $colorGrey solid;
                }
            }

            &--3 {
                .Board__Figure {
                    border: 5px $colorGrey solid;
                }
            }

            &--2 {
                .Board__Figure {
                    border: 4px $colorGrey solid;
                }
            }

            &--1 {
                .Board__Figure {
                    border: 3px $colorGrey solid;
                }
            }
        }
    }

    .Board__Figure {
        width: 100px;
        height: 100px;
        cursor: pointer;

        &--bet {
            border-radius: 50%;
        }

        &--know {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Board__FigurePoints {
            &--3 {
                position: relative;

                .Board__FigurePoint {
                    position: absolute;

                    &:nth-child(1) {
                        top: -20px;
                        right: -12px;
                    }

                    &:nth-child(2) {
                        top: 0;
                        right: 0;
                    }
                } 
            }

            &--2 {
                .Board__FigurePoint {
                    &:nth-child(1) {
                        margin-left: 16px;
                    }
                }
            }
        }

        .Board__FigurePoint {
            margin: 4px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: $colorGrey;
        }
    }
}

@media(max-width: $xsmall) {
    .Board__Container {
        .Board__BetSignContainer {
            .Board__BetSign {
                font-size: 72px;
            }
        }

        .Board__Row {
            &Level {
                &--6 {
                    .Board__Figure {
                        border: 6px $colorGrey solid;
                    }
                }
    
                &--5 {
                    .Board__Figure {
                        border: 5px $colorGrey solid;
                    }
                }
    
                &--4 {
                    .Board__Figure {
                        border: 4px $colorGrey solid;
                    }
                }
    
                &--3 {
                    .Board__Figure {
                        border: 3px $colorGrey solid;
                    }
                }
    
                &--2 {
                    .Board__Figure {
                        border: 2px $colorGrey solid;
                    }
                }
    
                &--1 {
                    .Board__Figure {
                        border: 1px $colorGrey solid;
                    }
                }
            }
        }

        .Board__Figure {
            width: 60px;
            height: 60px;

            .Board__FigurePoints {
                &--3 {
                    .Board__FigurePoint {
                        &:nth-child(1) {
                            top: -12px;
                            right: -8px;
                        }
                    } 
                }
            }

            .Board__FigurePoint {
                margin: 2px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $colorGrey;
            }
        }
    }  
}