# Redirect all trafic to HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://iknowcalculator.online/$1 [R,L]

# Cache Control headers
Header set Cache-Control "no-store, no-cache, must-revalidate, private, max-age="31556926"

# HTTP status redirects
ErrorDocument 404 /404
