.md-fab {
    &.Ui__FabBottom {
        position: absolute;
        bottom: 16px;

        &--left {
            left: 16px;
        }

        &--right {
            right: 16px;
        }
    }
}

@media (max-width: $small) {
    .md-fab {
        &.Ui__FabBottom {
            bottom: 8px;
    
            &--left {
                left: 8px;
            }

            &--right {
                right: 16px;
            }
        }
    }
}