.Home__HeaderContainer,
#PageIntro {
    min-height: 90%;
    height: 90%;
}

.Home__Container {
    color: $textColorDark;
    margin-top: 64px;

    .Home__HeaderContainer {
        background-color: $backgroundColor;

        #PageIntro {
            background: url('/img/iknow.jpg') center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            .Home__Mask {
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.7);

                .Home__MaskContent {
                    height: 100%;
                    color: $colorWhite;
                    text-shadow: 2px 2px #000;

                    div {
                        > h5 {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }

    .Home__ContentContainer {
        padding: 0 148px;
        text-align: justify;
        background-color: $backgroundColor;

        h1 {
            text-align: center;
        }

        a {
            color: $textColorDark;
            border-bottom: 1px dotted $textColorDark;

            &:hover {
                color: $colorPrimary;
                border-bottom: none;
                text-decoration: none;
            }
        }

        .md-divider {
            margin: 24px 0;
            background-color: $colorDark;
        }

        div.md-card-content {
            position: relative;
            padding-top: 40px;
            background-color: $colorWhite;
            color: $textColorDark;

            .Home__HowToNumber {
                height: 56px;
                width: 56px;
                border: 1px solid $colorGrey;
                border-radius: 50%;
                background-color: $colorWhite;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                position: absolute;
                top: -28px;
                left: 0;
                right: 0;
                margin: 0 auto;
                color: $textColorDark;
            }
        }
    }

    .Home__FooterContainer {
        background-color: $backgroundColor;

        a, span {
            border-bottom: none;

            &:hover {
                border-bottom: 1px dotted $colorLight;
                cursor: pointer;
            }
        }

        .Home__FooterContent {
            min-height: 250px;
            background-color: $colorDark;
            color: $colorWhite;
            margin-top: 124px;
            padding: 32px 148px 0;

            div {
                text-align: left;
            }

            .body2 {
                color: $colorLight;
            }

            ul.body2 {
                list-style-type: none;
                padding: 0;

                a {
                    text-decoration: none;
                    color: $colorLight;
                }
            }
        }

        .Home__FooterCopyright {
            height: 48px;
            background-color: $colorDarker;
            color: $colorWhite;

            a {
                color: $colorLight;
                text-decoration: none;
            }

            > div {
                margin: auto 0;
            }
        }
    }
}

@media (max-width: $small) {
    .Home__Container {
        margin-top: 48px;

        .Home__ContentContainer {
            padding: 0 8px;

            div {
                &:not(:last-of-type) {
                    > div.md-card {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        .Home__FooterContainer {
            .Home__FooterContent {
                padding: 16px 8px;
            }
        }
    }
}
